.skew {
width:100%;
height:100vh;
background-color:#33466b;
position:absolute;

top: 0;
transform: skewY(1.5deg);
transform-origin: 100% 0;
}

.skew2{
width:100%;
height:100vh;
background-color:#33466b;
bottom: 0;
transform: skewY(-3.0deg) !important;
transform-origin: 100% !important;
}


.skew3 {
width:100%;
height:100vh;
background-color:#A6C4E0 !important;
position:absolute;
top: 0;
transform: skewY(1.5deg);
transform-origin: 100% 0;
z-index: -1;
}
